.panelWrapperBox {

}

.profileHead {
    position: relative;
}

.profileBody {
    height: 344px;
    width: 100%;
    background-size: 100%;
    /*background-position: center;*/
    background-repeat: no-repeat;
}

.profileAccount {
    display: flex;
    position: absolute;
    bottom: 20%;
    left: 10%;
    align-items: center;
}

.profileAccount img {
    width: 216px;
    height: 216px;
    border: 2px solid #ccc;
    border-radius: 50%;
    object-fit: cover;
}

.accountInfo {
    margin-left: 15px;
}

.accountInfo p {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 1px #000;
}

.accountInfo span {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 1px #000;
}

.profileFooter {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 5px 0 #ccc;
}

.profileFooter div {
    text-align: center;
    margin-left: 15px;
    width: 100px;
}

.profileFooter div p {
    color: #6B6B6B;
}

.profileFooter div span {
    color: #000D83;
}


    /*online students*/
.chatTitle {
    color: #061358;
    font-size: 16px;
    font-weight: 500;
}

.onlineStudentsField {
    display: flex;
    flex-direction: column;
    /*background-color: #fff;*/
    height: 100%;
}