.notTitle {
    color: #061358;
    font-size: 18px;
    font-weight: 500;
}

.chatTitle {
    color: #061358;
    font-size: 16px;
    font-weight: 500;
}

.onlineStudentsField {
    display: flex;
    flex-direction: column;
    /*background-color: #fff;*/
    height: 100%;
}

.onlineStudentItem {
    display: flex;
    /*justify-content: space-evenly;*/
    height: 80px;
    max-height: 80px;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    padding: 0 5px;
}

.onlineStudentItem:hover {
    background-color: #f5f5f5;
    border-radius: 3px;
    transition: 0.5s;
}

.studentImage img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.studentInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.onlineStudentItem p {
    font-size: small;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
}

.notificationsField {
    display: flex;
    flex-direction: column;
}

.notificationsItem {
    height: 70px;
    width: 100%;
    max-height: 80px;
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex;
    font-size: small;
    padding: 5px 10px;
    box-shadow: 0 0 5px 0 #ccc;
}

.notificationStudentField {
    width: 25%;
    display: flex;
}

.notificationInfo {
    width: 65%;
}

.processField {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.notificationStudentImage img {
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.requestTypeField {
    /*border-radius: 50%;*/
    /*background-color: #EDF2FB;*/
    /*padding: 0 25px;*/
    /*display: flex;*/
    /*align-items: center;*/
}

.dotsField img {
    cursor: pointer;
    /*transform: rotate(90deg);*/
}

.notificationUsername {
    font-weight: 500;
    color: #000;
    display: block;
}

.notificationSendedAt {
    font-size: 11px;
    letter-spacing: 1px;
}

.inputLeftIcon {
    position: absolute;
    padding: 10px;
    left: 0;
    cursor: pointer;
    top: 0;
    color: #061358;
}

.inputLeftIcon:focus {
    border: none;
    /*border-bottom: 1px solid #ccc;*/
}

.msgDots {
    cursor: pointer;
}

.openedWindow li {
    margin-bottom: 3px;
    cursor: pointer;
}

.openedWindow li:hover {
    background-color: #F7F7F7;
}

.modalTitle {
    color: #000D83;
}

.reason {
    resize: none;
    height: 200px !important;
}