.fieldTitle {
    color: #000D83;
    text-transform: uppercase;
    font-size: 20px;
}

.fieldIcon {
    color: #7E7E7E;
    font-size: 25px;
    cursor: pointer;
    padding-left: 10px;
}

.profileFieldWrapper {
    height: 80vh;
    overflow-y: scroll;
}

.deleteIcon {
    cursor: pointer;
    font-size: 20px;
}

.deleteIcon:hover {
    color: red;
    transition: 0.5s;
}

/*online students*/
.chatTitle {
    color: #061358;
    font-size: 16px;
    font-weight: 500;
}

.onlineStudentsField {
    display: flex;
    flex-direction: column;
    /*background-color: #fff;*/
    height: 100%;
}

.certificateField {
    position: relative;
}

.certificateDeleteIcon {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    font-size: 25px;
    color: red;
}

.certificateImg {
    width: 100%;
    height: 100%;
}

.modalWindow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
